body{
    margin: 0;
    padding: 0;
}

/*region Админка*/
.admin_sidebar_panel{
    position: fixed;
    min-height: 100%;
    background-color: #f1f2f7;
    width: 14%;
}

.admin_sidebar_panel a{
    color: #333333;
}

.admin_main, .admin_content, .admin_account, .setting{
    padding: 10px;
    padding-left: 25px;
    transition: .5s;
}

.admin_another{
    /*width: 88%;*/
    padding-top: 18px;
}

.admin_sidebar_panel:hover a{
    text-decoration: none;
}

.admin_sidebar_panel a:hover .admin_main{
    transform: translateX(10px);

}

.admin_sidebar_panel a:hover .admin_content{
    transform: translateX(10px);
}

.admin_sidebar_panel a:hover .admin_account{
    transform: translateX(10px);
}

.admin_sidebar_panel a:hover .setting{
    transform: translateX(10px);
}

    /*region setting*/
    .bg_content{
        padding: 12px;
        border-radius: 5px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 34px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 34px -12px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 34px -12px rgba(0,0,0,0.75);
    }

    .name_cols{
        padding-bottom: 12px;
    }

    .name_cols .col-2, .name_cols .col-4{
        font-weight: bold;
    }

    .content_table{
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #898989;
    }

    .content_table .col-2{
        min-height: 100px;
    }

    .btn_theme, .logo_theme{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo_theme>img{
        width: 100%;
    }

    .name_theme, .name_author, .description_theme{
        padding-top: 10px;
    }

    .undefind_theme{
        text-align: center;
    }
    /*endregion*/

/*endregion*/

/*region В шапке переход в админку или на сайт*/
.admin_header a{
    color: #333333;
}

.site_header a{
    color: #333333;
}

.admin_header:hover a{
    text-decoration: none;
}

.site_header:hover a{
    text-decoration: none;
}

.click{
    background-color: gainsboro;
}
/*endregion*/
